body{
    background-color: aqua;
}
main{
    width: 80%;
    max-width: 800px;
    margin: auto;
}

#arr{
    display: flex;
    justify-content: space-around;
    align-items: start;
    align-content: center;
    flex-flow: row wrap;
}

div{
    height: auto;
    flex: 0 0 calc(33%);
}
img{
    width: 70%;
}
@media only screen and (max-width:700px){
    div{
        flex: 0 0 calc(50%);
    }
}
@media only screen and (max-width:400px){
    div{
        flex: 0 0 calc(100%);
    }
}